/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */

/* @import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:ital,wght@0,700;1,500&display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.container {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  background-color: hsl(30, 38%, 92%);

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.card {
  width: 61rem;
  display: flex;
  height: 40rem;
}
.card-image {
  width: 50%;
  flex: 1;
}
.card-image img {
  width: 100%;
  height: 100%;
}
.perfume {
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  margin-bottom: 2rem;
  font-weight: 400;
}
.card-content {
  width: 50%;
  background-color: hsl(0, 0%, 100%);
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  padding: 3rem;
  flex: 1;
}

.card-content h1 {
  font-family: "Fraunces", serif;
  color: hsl(212, 21%, 14%);
  margin-bottom: 2rem;
  font-size: 3rem;
  font-size: 3rem;
}
.card-content p {
  font-size: 1.4rem;
  line-height: 2rem;
  color: hsl(228, 12%, 48%);
  margin-bottom: 2rem;
}
.currency {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 7rem;
}
.currency h1 {
  font-family: "Fraunces", serif;
  color: hsl(158, 36%, 37%);
  font-size: 3rem;
}
.price2 {
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
}

.button {
  background-color: hsl(158, 36%, 37%);
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-radius: 1rem;
  gap: 1rem;
  cursor: pointer;
  width: 100%;
  border: none;
  color: hsl(0, 0%, 100%);
}

.button:hover {
  background-color: hsl(157, 37%, 22%);
}
