/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */
/* //! Convert all your pixel to rem unit */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100%;
  width: 100%;
  background-color: hsl(30, 38%, 92%);
  /* !WHat is the purpose of this display grid */
  display: grid;
  place-items: center;
  /* //! You didnt include this font family in your html or css file */
  font-family: "Montserrat", sans-serif;
  margin-top: 70px;
}
.card {
  /* !Use max-width instead */
  width: 610px;
  display: flex;
}
.card-image {
  width: 50%;
}
.card-image img {
  width: 100%;
  height: 100%;
}
.card-content {
  width: 50%;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

/* !Why do you have different selector for the card-content */
.card-content h4 {
  letter-spacing: 2px;
  font-weight: 500;
}
.card-content h1 {
  font-family: "Fraunces", serif;
  color: hsl(212, 21%, 14%);
}
.card-content p {
  font-size: 14px;
  line-height: 20px;
  color: hsl(228, 12%, 48%);
}
.currency {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 70px;
}
.currency h1 {
  font-family: "Fraunces", serif;
  color: hsl(158, 36%, 37%);
}
.price2 {
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
}

/* //! Why do you have the button class selector in two different places */
.button {
  background-color: hsl(158, 36%, 37%);
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
  cursor: pointer;
}
.button {
  color: hsl(0, 0%, 100%);
}
.button:hover {
  background-color: hsl(157, 37%, 22%);
}
